<div class="footer">
<div class="m">
  <div class="footer_left">服务热线：<span>18038006741</span> &nbsp;&nbsp;&nbsp;&nbsp;Email:<a href="mailto:service@weeego.cn">service@weeego.cn</a></div>
  <div class="footer_right">版权所有&nbsp;&copy;&nbsp;深圳市维构科技有限公司  All Rights Reserved. 粤ICP备12008088号</div>
</div>
</div>