<div class="header">
  <div class="header1">
        <div class="header_logo"><img src="images/logo.gif" width="230" height="78" /></div>
        <div class="menu">
          <ul>
             <li class="menu01"><a href="/" class=" selected"></a></li>
             <li class="menu02"><a href="sites"></a></li>
             <li class="menu03"><a href="mail"></a></li>
             <li class="menu04"><a href="server"></a></li>
             <li class="menu05"><a href="case"></a></li>
             <li class="menu06"><a href="support"></a></li>
             <li class="menu07"><a href="customercenter"></a></li>
          </ul>
        </div>
    <div class="clear"></div>
    </div>
</div>