<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站建设、域名主机、企业邮箱---深圳市维构科技有限公司</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head> 
<body>
 <% include header.ejs %> 
<div class="banner"></div> 
<div class="m"><img src="images/i_fw.gif" width="980" height="108" /></div>

<div class="m">
       <ul class="center1">
          <li><img src="images/i_aa01.gif" width="245" height="235" /></li>
          <li><img src="images/i_aa02.gif" width="245" height="235" /></li>
          <li><img src="images/i_aa03.gif" width="245" height="235" /></li>
          <li><img src="images/i_aa04.gif" width="245" height="235" /></li>
       </ul>
</div>

<div class="case_tit">
    <span><a href="case.html">更多网站设计案例</a></span><img src="images/i_lm1.gif" width="106" height="24" />
</div>


<div class="case_li">
         <ul>
             <% for(var i=0; i<case1.length; i++) { %> 
                <li><a href="<%= case1[i].url %>"><img src="<%= case1[i].images %>" width="320" height="125" /></a></li>  
    <% } %>
            
      
         </ul>
         <div class="clear"></div>
</div>


<div class="m">
  <div class="myfw">
      <div class="pb15"><img src="images/i_lm2.gif" width="106" height="24" /></div>
      <div class="myfw_lb">
        <ul>
           <li><a href="#">产品价格总览</a></li>
           <li>新手学堂</li>
           <li>域名注册攻略</li>
           <li>如何选择虚拟主机 </li>
           <li>在线支付（推荐）</li>
           <li>银行电汇</li>
           <li>备案专区</li>
           <li>域名whois查询</li>
           <li>域名自助管理平台</li>
           <li>虚拟主机控制面板</li>
           <li>独享主机管理平台</li>
        </ul>
      </div>
  </div>
   <div class="mykh">
      <div class="pb15"><img src="images/i_lm3.gif" width="106" height="24" /></div>
      <div class="mykh_con"><a href="#">深圳同方国际品牌网站</a> / <a href="#">日本多漫格</a> / 上海红酒交易中心 / 深圳百果园商城网站设计
新加坡风景国际 / 新加坡电信 / 台湾karwee / 台湾弘昌肉品 / 香港修身堂控股 
香港盈泰集团 / 加拿大brandpkg / 悉尼 Mondoscape / 美国Yrsupply / 中国电信总部
七匹狼 / 三菱戈蓝 / 上汽依维柯 /英利集团 / 开磷集团 / 神泽集团 /英大长安集团</div>
   </div>
</div>

 <% include footer.ejs %>


</body>
</html>
