<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站建设、域名主机、企业邮箱---深圳市维构科技有限公司</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head> 
<body>
 <% include header.ejs %> 


<div class="banner_exmail"></div>

<div class="m2"><img src="images/tit_02.gif" width="86" height="22" /></div>

<div class="menu_2">
    <ul>
       <li><a href="#" class="selected">QQ企业邮箱</a></li>
       <li><a href="#">21CN企业邮箱</a></li>
       <li><a href="#">263企业邮箱</a></li>
       <li><a href="#">搜狐企业邮箱</a></li>
       <li><a href="#">网易企业邮箱</a></li>
       <li><a href="#">QQ企业邮箱</a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="m content">
<img src="images/contint.gif" width="980" height="396" /> <br />
内容编辑区<br />
内容编辑区
</div>

 <% include footer.ejs %>


</body>
</html>
