<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站建设、域名主机、企业邮箱---深圳市维构科技有限公司</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head> 
<body>
 <% include header.ejs %> 

<div class="banner_contact"></div>

<div class="m">
  <div class="con460">
        <div class="con_tit"><img src="images/contact_01.gif" width="85" height="24" /></div>
        <div class="f12">深圳市维构科技有限公司一直以提供高质量的服务为首要目标，主要服务项目包括网站建设、域名注册、虚拟主机、企业邮局、网站策划、网页设计、系统开发、网站推广、网站维护等，同时我们还提供网上支付、网上购物及电子商务行业等多种解决方案。<br /><br />

当今商业的竞争，电子商务已经是不可或缺的战略手段，维构便是您在实现电子商务征途上的必要加油站。只要您有实现电子商务的愿景，维构将愿意为您提供最真诚最专业的帮助。我们的服务只为您的成功，您的盈利才是我们的终极目标。
</div>
  </div>
  
    <div class="con485">
        <div class="pb10"><img src="images/contact_02.gif" width="106" height="24" /></div>
        <div><img src="images/contact_p.gif" width="470" height="152" /></div>
    </div>
    
  <div class="clear"></div>

</div>
<div class="plinde"></div>

<div class="m">
  <div class="con510">
        <div class="left"><img src="images/feedback.gif" width="152" height="146" /></div>
    <div class="left">
           <div class="coninput"><input type="text" value="姓名（Name）" /></div>
      <div class="coninput"><input type="text" value="电话（Tel）" /></div>
      <div class="coninput"><input type="text" value="邮箱（Email）" /></div>
           <div class="pb15"><textarea name="ess" cols="" rows="5" id="ess" class="coninput2">内容（Message）</textarea></div>
           <div><img src="images/tj.gif" width="70" height="27" /></div>
        </div>
  </div>
  <div class="con400">
    <p class="f18">深圳市维构科技有限公司</p>
    <p>
公司地址：深圳市福田区<br />
邮政编码：<br />
办公电话：18038006741<br />
手机：<br />
QQ：<img src="images/qq.gif" width="81" height="23" /><br />
E-mail：service@weeego.cn
</p>
  </div>
  <div class="clear"></div>
</div>


 <% include footer.ejs %>


</body>
</html>
